[Desktop Entry]
Type=Application
Name=UI
Terminal=false
Exec=/home/pi/Desktop/hetekgui/dev4/UI.sh
Icon=/home/pi/Desktop/hetekgui/images/hetek_logo.png