[Desktop Entry]
Type=Application
Name=UI
Terminal=false
Exec=/home/pi/Desktop/hetekgui/src/dev4/UI.sh
Icon=/home/pi/Desktop/hetekgui/src/images/hetek_logo.png